@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    transform: translate(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translate(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes MpveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
